body{
    font-family: sans-serif;
    margin: 0;
    line-height: 140%;
    font-size: 18px;
}
.menu__toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
}
@media(max-width: 600px){
    .menu__list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #000000;
        margin: 0;
        display: none;
        }
        .menu__toggle{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 20;
        cursor: pointer;
        }
        .menu--open .menu__list{
        display: block;
        }}
